.table {
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-1);
    font-size: 16px;

    --grid: 1.7fr .6fr .7fr;
}

.table .container {
    height: 800px;
}

.table .container .thead {
    height: 50px;
    display: grid;
    grid-template-columns: var(--grid);
    align-items: center;
    border-bottom: 2px solid var(--primary-1-t);
    padding: 0 50px;
}

.table .container .tbody .row {
    height: 100px;
    display: grid;
    grid-template-columns: var(--grid);
    align-items: center;
    border-bottom: 2px solid var(--primary-1-t);
    padding: 0 50px;
}

.table .container .tbody .tr {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 60px;
}

.table .container .tbody .tr.price {
    font-weight: bold;
    font-size: 20px;
}

.table .container .tbody img {
    height: 80px;
}

.table .container .tbody .qtt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.table .container .tbody .qtt input {
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary-1-t);
    border-radius: 5px;
    outline: none;
    color: var(--primary-1);
    caret-color: var(--primary-1);
    font-size: 20px;
}

.table .container .tbody .trash {
    background-color: var(--primary-1);
    height: 40px;
    width: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.table .container .tbody .trash svg {
    font-size: 20px;
}

.table .container .tbody .trash:hover {
    transform: scale(1.05);
}